.warna1 {
  background-color: #00ffab;
}

.warna2 {
  background-color: #14c38e;
}

.warna3 {
  background-color: #b8f1b0;
}

.warna4 {
  background-color: #49a150;
}

.banner {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/phar.jpg');
  background-size: cover;
  background-position: center;
}

.highligted-kategori {
  height: 250px;
}

.kategori-medical-devices {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/medical-devices.jpg');
  background-size: cover;
  background-position: center;
}

.kategori-body-care {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/scarlett.jpeg');
  background-size: cover;
  background-position: center;
}

.kategori-suplemen {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/suplemen.jpg');
  background-size: cover;
  background-position: center;
}

.kategori-herbal {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/herbal.jpg');
  background-size: cover;
  background-position: center;
}

.kategori-ibu {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/ms.jpg');
  background-size: cover;
  background-position: center;
}

.kategori-obat {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/obatt.jpg');
  background-size: cover;
  background-position: center;
}

.no-decoration {
  text-decoration: none;
  color: white;
}

.no-decoration:hover {
  color: #14c38e;
}

.text-harga {
  font-size: 22px;
  color: #14c38e;
}

/* .image-box {
  height: 250px;
}

.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
} */

.content-subscribe {
  background-color: rgba(0, 0, 0, 0.7);
}

.content-subscribe a {
  color: #fff;
}

.banner-produk {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/phar.jpg');
  background-size: cover;
  background-position: center;
  background-position: 50% 35%;
}
